.navbar {background-color: #4a148c; padding-bottom: 0; padding-top: 0}
.navbar-brand {padding-bottom: 0.625rem}
.body {font-size: 1rem}
.tab-pane{
  padding-bottom: 200px
}
.slidecontainer{width: 100%}

/* Panels */
.card{
  font-size: 1rem;
}
.simulation{
  background-color: #e3f2fd;
}
.tasks{
  background-color: #f0f4c3;
}

.button-wrap{
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.plot-wrap{
  overflow-x: auto;
  overflow-y: auto;
}

@media screen and (max-width: 992px){
  .bott_sp_image{
    height: auto;
    width: 65%;
  }
  .evo_sucks{
    height: auto;
    width: 65%;
  }
  .out-plot-generic{
    height: 75vh;
    width: auto;
  }
  .bot-neck-sqr-plot{
    height: 75vh;
    width: auto;
  }
  .out-plot-square{
    height: 75vh;
    width: 75vw;
  }
}

@media screen and (max-width: 768px){
  .bott_sp_image{
    height: auto;
    width: 75%;
  }
  .evo_sucks{
    height: auto;
    width: 75%;
  }
  .out-plot-generic{
    height: 80vh;
    width: 90vw;
  }
  .bot-neck-sqr-plot{
    height: 70vh;
    width: auto;
  }
  .out-plot-square{
    height: 80vh;
    width: 80vw;
  }
}

@media screen and (max-width: 576px){
  .bott_sp_image{
    height: auto;
    width: 85%;
  }
  .evo_sucks{
    height: auto;
    width: 85%;
  }
  .out-plot-generic{
    height: 480px;
    width: 680px;
  }
  .bot-neck-sqr-plot{
    height: 480px;
    width: 680px;
  }
  .out-plot-square{
    height: 540px;
    width: 540px;
  }
}

@media screen and (min-width: 993px){
  .bott_sp_image{
    height: auto;
    width: 50%;
  }
  .evo_sucks{
    height: auto;
    width: 50%;
  }
  .out-plot-generic{
    height: 60vh;
    width: auto;
  }
  .bot-neck-sqr-plot{
    height: 60vh;
    width: auto;
  }
  .out-plot-square{
    height: 70vh;
    width: auto;
  }
}

/* ~~~~~~~~~~~~~~~~ Range finder ~~~~~~~~~~~~~~~~ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: "";
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.in-row-title{
  padding-bottom: 0;
}

.bot-neck-sqr-tab{
  overflow-x: auto;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center; 
  vertical-align: middle;
}